{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": false,
	"semi": false,
	"singleQuote": true,
	"bracketSpacing": true,
	"jsxSingleQuote": true,
	"htmlWhitespaceSensitivity": "ignore",
	"endOfLine": "auto",
	"trailingComma": "none",
	"arrowParens": "always",
	"bracketSameLine": true,
	"insertPragma": false,
	"vueIndentScriptAndStyle": false
}